body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: lightgray;
}
table, th {
  text-align: center;
}
#header{
  color: lightseagreen;
}
#logo{
  color: white;
  background: lightseagreen;
  height:50px;
  font-size: 150%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

footer{
  background: grey;
  color: white;
  position: fixed;
  bottom:0;
  width:100%;
}
.jumbotron{
  background: white;
  overflow: hidden;
}
.images{
  position: relative;
}
.posts{
  color:grey;
  font-size: 25px;
}
.container-fluid{
  height: 80%;
  width: 85%; 
}

#main-img{
  width:300px;
  height:300px;
}
.nav-imgs{
  width: 200px;
  height: 200px;
}
hr{
 color: grey;
 height:10px;
}

.text{
  color:black
}
.compar-imgs{
  width:450px;
  height:350px;
}
.subheader{
text-align: center;
}
#descr-img{
  width:550px;
  height:400px;
}
.description{
  color:slategrey;
  line-height: 1.5;
}
@media only screen and (max-width: 965px) {
  .bg-light{
      background-color: lightseagreen!important;
  }
  .text, .posts, .description{
    font-size: 70%;
  }
  table{
    font-size: 50%;
  }
}
@media only screen and (max-width: 1300px) {
  .text, .posts {
    font-size: 90%;
  }
  table{
    font-size: 70%;
  }
}